@inject Bastet.Services.IUserContextService UserContextService

<div class="mb-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Deleted Subnets</h1>
        @if (UserContextService.UserHasRole(Bastet.Models.ApplicationRoles.Admin))
        {
            <a asp-action="PurgeAllDeletedSubnets" class="btn btn-danger">
                <i class="bi bi-trash"></i> Purge All
            </a>
        }
    </div>
    <p class="lead">View previously deleted subnet records</p>
</div>
