@model DeletedHostIpListViewModel

<div class="mb-4">
    <h1>Deleted Host IPs</h1>
    <p class="lead">View previously deleted host IP assignments for subnet @Model.SubnetName (@Model.NetworkAddress/@Model.Cidr)</p>
</div>
