@model Bastet.Models.ViewModels.BulkImportInitialViewModel

<h3 class="mb-0">
    <i class="bi bi-cloud-download"></i> Bulk Azure Import
</h3>
<small>Import VNets and subnets across an entire Azure subscription into Bastet.</small>
