@{
    ViewData["Title"] = "Signed Out";
}

<div class="text-center">
    <h1>You have been signed out</h1>
    <p class="lead">Your session has ended.</p>
    <p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Sign in again</a>
    </p>
</div>
