@model CreateSubnetViewModel

@{
    ViewData["Title"] = "Create Subnet";
}

@await Html.PartialAsync("Create/_Header")
@await Html.PartialAsync("Create/_ErrorAlert")

<div class="row">
    <div class="col-md-8">
        @await Html.PartialAsync("Create/_SubnetForm", Model)
    </div>
    
    <div class="col-md-4">
        @await Html.PartialAsync("Create/_SubnetInformation")
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("Create/_SubnetFormScripts")
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
