@model SubnetDetailsViewModel

@{
    ViewData["Title"] = "Subnet Details";
}

@await Html.PartialAsync("Details/_CidrInputModal", Model)

@section Scripts {
    @await Html.PartialAsync("Details/_SubnetCalculationScripts", Model)
}

<div class="mb-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1>@Model.Name</h1>
        <div>
            @{
                ViewBag.EntityId = Model.Id;
            }
            @await Html.PartialAsync("_RoleBasedActions")
        </div>
    </div>
    <p class="lead">@Model.NetworkAddress/@Model.Cidr</p>
</div>

<div class="row">
    <div class="col-md-6">
        @await Html.PartialAsync("Details/_NetworkInformation", Model)
    </div>
    
    <div class="col-md-6">
        @await Html.PartialAsync("Details/_SubnetDetails", Model)
    </div>
</div>

@await Html.PartialAsync("Details/_ParentSubnet", Model)
@await Html.PartialAsync("Details/_ChildSubnets", Model)
@await Html.PartialAsync("Details/_UnallocatedRanges", Model)
