@model EditSubnetViewModel

@{
    ViewData["Title"] = "Edit Subnet";
}

@await Html.PartialAsync("Edit/_Header")

<div class="row">
    <div class="col-md-8">
        @await Html.PartialAsync("Edit/_NetworkInformation", Model)
        @await Html.PartialAsync("Edit/_EditForm", Model)
    </div>
    
    <div class="col-md-4">
        @await Html.PartialAsync("Edit/_InformationSidebar")
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
