<div class="mt-4">
    <h5>This may have happened because:</h5>
    <ul class="list-group text-start">
        <li class="list-group-item">The resource may have been deleted</li>
        <li class="list-group-item">The URL may have been mistyped</li>
        <li class="list-group-item">The resource ID may be incorrect</li>
    </ul>
</div>
