<div class="mt-4">
    <h5>Common Actions for Server Errors:</h5>
    <ul class="list-group text-start">
        <li class="list-group-item">Try refreshing the page</li>
        <li class="list-group-item">Try again later - the issue may be temporary</li>
        <li class="list-group-item">If the problem persists, contact your system administrator</li>
        <li class="list-group-item">Check the application logs for more details</li>
    </ul>
</div>
